/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  /* background-image: linear-gradient(
    to bottom,
    rgb(205, 85, 50),
    rgba(205, 85, 50, 0.5),
    #fff
  ); */
  background-color: #fff;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #7a7a7a;
}

ul {
  list-style: none;
}

.container {
  margin-inline: auto;
  background-color: #fff;
  width: 100%;
  max-width: 50rem;
  padding: 0.5rem 1rem;
  box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.1),
    /* Right shadow */ -10px 0 10px -5px rgba(0, 0, 0, 0.1);
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 15rem;
}

.header .contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .contact .icon {
  background-color: #cd5532;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .contact .icon i {
  color: #fff;
  font-size: 1.7rem;
}

.header .contact p {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  color: #929292;
  font-size: 1.7rem;
}

.header .contact a {
  font-size: 0.9rem;
}

/* MENU */
menu ul {
  display: flex;
  gap: 2.5rem;
}

menu ul li {
  padding-block: 0.5rem;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: 0.3s ease-in-out;
}

menu ul li:hover {
  border-bottom-color: #cd5532;
}

nav a.active {
  border-bottom: 4px solid #cd5532;
}

menu ul li a {
  color: #000;
  font-size: 1.2rem;
  font-family: "Jost", sans-serif;
  padding-block: 0.5rem;
}

/* HOME PAGE */
.showcase {
  margin-top: 148px;
}

.showcase .container {
  position: relative;
  height: 241px;
  width: 100%;
  background-image: url("../assets/basketpng.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.showcase h1 {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  font-weight: 700;
}

.showcase h1 > span {
  font-weight: bold;
}

.showcase .container img {
  width: 40%;
}

.why-galaxy h2 {
  text-align: center;
  color: #cd5532;
  font-size: 2rem;
  margin-block: 1rem 1.5rem;
  font-family: "Jost", sans-serif;
}

.why-galaxy .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.why-galaxy .features .feature {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.why-galaxy .features .feature .check-mark {
  background-color: #ededed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.why-galaxy .features .feature .check-mark i {
  font-size: 2rem;
}

.why-galaxy .features .feature .check-mark:hover {
  background-color: #000;
}

.why-galaxy .features .feature .check-mark:hover i {
  color: #fff;
}

.why-galaxy .features .feature .feature-content {
  padding-top: 0.5rem;
}

.why-galaxy .features .feature .feature-content h3 {
  font-size: 1.2rem;
  color: #525252;
  margin-bottom: 0.5rem;
  font-family: "Jost", sans-serif;
}

.why-galaxy .features .feature .feature-content p {
  font-size: 0.8rem;
  color: #7a7a7a;
}

/* SAMPLE PAGE */
.samples-section {
  margin-top: 148px;
}

.samples-section h2 {
  text-align: center;
  color: #cd5532;
  font-size: 2rem;
  margin-block: 2rem 1rem;
  font-family: "Jost", sans-serif;
}

.samples-section .container > p {
  font-size: 0.9rem;
  color: #7a7a7a;
  text-align: center;
  margin-bottom: 2rem;
}

.samples-section .samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.samples-section .samples .sample .sample-image {
  position: relative;
  margin-bottom: 0.7rem;
}

.samples-section .samples img {
  width: 200px; /* Adjust image size as needed */
  height: 250px;
  margin: 10px;
  cursor: pointer;
}

.samples-section .samples .zoom-in {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 10;
  background-color: transparent;
}

.samples-section .samples .icon {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}

.samples-section .samples i {
  font-size: 1.5rem;
}

.samples-section .samples .sample:hover .zoom-in {
  background-color: rgba(255, 255, 255, 0.3);
}

.samples-section .samples .sample:hover .icon {
  visibility: visible;
}

.samples-section .samples .sample p {
  text-align: center;
  font-size: 0.7rem;
  color: #525252;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000; /* Ensure modal appears above other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 40%;
  max-height: 80%;
  transform: translateY(10%);
}

.close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

/* PRICING PAGE */
.pricing {
  margin-top: 148px;
}

.pricing h2 {
  text-align: center;
  color: #cd5532;
  font-size: 2rem;
  margin-block: 2rem 1rem;
  font-family: "Jost", sans-serif;
}

.pricing .container > p {
  font-size: 0.9rem;
  color: #7a7a7a;
  text-align: center;
  margin-bottom: 2rem;
}

/* OTHER SERVICES PAGE */
.other-services {
  margin-top: 148px;
}

.other-services h2 {
  text-align: center;
  color: #cd5532;
  font-size: 2rem;
  margin-block: 2rem 4rem;
  font-family: "Jost", sans-serif;
}

.other-services .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 1rem;
  padding-bottom: 5rem;
}

.other-services .services .service {
  text-align: center;
}

.other-services .services .service i {
  font-size: 50px;
  color: #bbb;
  margin-bottom: 1.5rem;
}

.other-services .services .service h3 {
  font-size: 1.3rem;
  color: #525252;
}

/* CONTACT US PAGE */
.contact-us {
  margin-top: 148px;
}

.contact-us .container {
  padding-bottom: 4rem;
  border-bottom: 1px solid #929292;
}
.contact-us h2 {
  text-align: center;
  color: #cd5532;
  font-size: 2rem;
  margin-block: 2rem 4rem;
  font-family: "Jost", sans-serif;
}

.contact-us .contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.contact-us .contacts .contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-us .contacts .contact .icon.blue {
  background-color: #00d0ff;
}

.contact-us .contacts .contact .icon.green {
  background-color: #10cb56;
}

.contact-us .contacts .contact .icon.yellow {
  background-color: #ffba00;
}

.contact-us .contacts .contact .icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.contact-us .contacts .contact .icon i {
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us .contacts p.blue {
  color: #00d0ff;
}

.contact-us .contacts p.green {
  color: #10cb56;
}

.contact-us .contacts p.yellow {
  color: #ffba00;
}

.contact-us .contacts .contact-text p {
  font-size: 0.9rem;
  font-weight: bold;
}

.contact-us .contacts .contact-text a {
  color: #7a7a7a;
  font-size: 0.8rem;
}

.addresses {
  text-align: center;
  font-size: 1rem;
}

.addresses h3 {
  font-weight: bold;
  margin-bottom: 1.3rem;
  margin-top: 2rem;
}

.addresses p {
  margin-bottom: 1rem;
  color: #7a7a7a;
}

/* FOOTER */
footer .container {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7a7a7a;
  font-size: 1rem;
  padding: 1rem;
}

footer ul {
  display: flex;
  align-items: center;
}

footer ul li:first-child {
  border-right: 1px solid #7a7a7a;
  margin-right: 1rem;
  padding-right: 1rem;
}

/* BLOG */
.blogs {
  margin-top: 148px;
}

.blogs .container > h2 {
  font-size: 2rem;
  color: #cd5532;
  margin-bottom: 1rem;
  font-family: "Jost", sans-serif;
}

.blog {
  margin-bottom: 2rem;
}

.blog h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-family: "Jost", sans-serif;
}

.blog ol {
  margin-left: 2.5rem;
  margin-top: 2rem;
}

.blog p,
.blog li {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.blog a {
  color: #b5321a;
  font-weight: bold;
}

/* Terms and Conditions */
/* .terms {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.terms .content {
  width: 500px;
  height: 400px;
  background-color: #ededed;
  z-index: 10000;
  padding: 1rem;
} */
